/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/
:root{
  --fundo-principal:#ffff;
  --texto: rgba(30, 26, 26, 0.897);
  --texto-inverso: #ffff;
  --destaque :rgb(5, 52, 191);
  --destaque-inverso :rgb(4, 116, 181);
  --fundo-card :rgba(234, 230, 230, 0.853);
}
*{
  padding: 0px;
  margin:0px;
  box-sizing: border-box;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
  transition: background-color 0.7s , color 0.7s;
}
body.escuro{
  --fundo-principal:#0B0D0B;
  --texto:#F2F2F0;
  --texto-inverso:#3F403C;
  --destaque:#9755D9;
  --destaque-inverso:#622773;
  --fundo-card:#A192A6;
}
header{
  background-color: var(--destaque);
  padding: 10px;
  display: flex;
  text-decoration: none;
  justify-content: flex-end;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav#menu ul{
  display: flex;
  list-style: none;
  gap: 10px;
 
}
nav#menu a {
   color: var(--texto-inverso);
  padding: 10px;
   font-weight: 600;
   border: 12px 13px;
   border-radius: 5px;
  
}
nav#menu a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}


main{
  margin-top: 12px;
  background-color: var(--fundo-principal);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 90vw 1fr;
  gap: 20px;

}
section#ficha{
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 5px;
  grid-column: 2;

}
section#ficha img.foto{
  background-position: top center;
  width: 200px;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-principal);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;

}
section#ficha > h1{
  margin: 15px;
  color: var(--destaque);
  font-size: 1.6em;
  margin-top: 15px;
  text-align: center;

}
div#social{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
      font-size: 1.8em;
}
div#social a {
  margin-top: 10px;
  padding: 10px;
  color: var(--destaque);
  transition: color 1s;
  

}
div#social a:hover{
  color: var(--destaque-inverso);
}
section#detalhes{
  grid-column: 2;
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
}
article{
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
article h2 {
  color: var(--destaque);
  margin-bottom: 25px;
}
article#video .video-container{
  position: relative;
  margin: auto;
  width: 100%;
  aspect-ratio: 16/9;
  
    
}
.video-container iframe{
  
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 8px;

}

h2{
  color: var(--destaque);
  margin-bottom: 10px;
}
#skill-container{
  display: grid;
  grid-template-columns: 1fr;
 gap: 30px;
}
#skill-container .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
#skill-container .nome{
  font-weight: bold;
  color: var(--texto);

}
#skill-container .porcent{
  font-weight: bold;
  color: var(--texto);
}
#skill-container .barra{
  width: 100%;
  height: 8px;
  background-color: var(--fundo-principal);
  border-radius: 5px;
}

#skill-container .progresso{
  height: 100%;
  background-color: var(--destaque);
  border-radius: 5px;
}

#formacao-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 22px;
}
#formacao-container .item{
  background-color: var(--fundo-principal);
  border-radius: 8px;
  border-left: 10px solid var(--destaque-inverso);
  transition:border-width 0.5s, border-color 0.5s ;


}
#formacao-container .item:hover{
   cursor: pointer;
   border-color: var(--destaque);
   border-width: 20px;
}

#formacao-container .ano{
  color: var(--texto);
  font-weight: bold;

}
#formacao-container .instituicao{
    color: var(--destaque);
    font-size: 1.3em;
}
#formacao-container .competencia{
  color: var(--texto);
  font-weight: bold;
}
#projeto-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 25px;
}
#projeto-container .projeto{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  border-radius: 8px;
  border-left: 18px solid var(--destaque-inverso);
  transition: border-color 0.6s, border-width 0.6s;
}
#projeto-container .projeto:hover{
  border-color: var(--destaque);
  border-width: 30px;
  cursor: pointer;
}
#projeto-container .foto{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;

}
footer{
  background-color: var(--destaque);
  height: 50px;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: var(--texto-inverso);
}
footer a {
  color: var(--texto-inverso);
}
footer a:hover{
  color: var(--destaque-inverso);
}

@media screen and (min-width: 768px){
  #skill-container{
    grid-template-columns: 1fr 1fr;
  }
  #projeto-container .projeto{
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #projeto-container .projeto-info{
    max-width: 80%;
  }
  #projeto-container .foto{
    max-width: 20%;
    aspect-ratio: 1/1;
    max-height: 220px;
  }
  main{
    grid-template-columns: auto  300px 1fr auto;
  }
  section#ficha{
     grid-column: 2/3;
     height: fit-content;
     position: sticky;
     top: 55px;
  }
  section#detalhes{
    grid-column: 3/4;
  }
}